<div class="content">
  <div class="weekly-activities">

    <div class="raid"><%= raid_html %></div>
    <div class="nightfall"><%= nightfall_html %></div>
    <div class="heroic-strike"><%= heroic_strike_html %></div>
    <div class="weekly-crucible"><%= weekly_crucible_html %></div>
  </div>

</div>
