<div class="row">
  <div class="col-lg-9 col-md-8 col-sm-12">
    <% if @posts.any? %>
      <div class="row">
        <%- @posts.each do |post| %>
          <div class="col-lg-12 col-md-6 col-sm-12">
            <%= render "/refinery/blog/shared/post", post: post %>
          </div>
        <% end %>
        <%= will_paginate @posts %>
      </div>
    <% else %>
      <p><%= t('.no_blog_articles_yet') %></p>
    <% end %>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-12 content">
    <%= render '/refinery/blog/shared/body_content_right' %>
  </div>
</div>

<% content_for :stylesheets, stylesheet_link_tag('refinery/blog/frontend') %>
