<div class="container">
  <% @page.parts.where(slug: 'body').each do |part| %>
    <%- if part.body.present? %>
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%= @page.title %></span>

          <%= part.body.html_safe %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <%- Refinery::Authentication::Devise::User.order(:username).each do |user| %>
      <div class="col s12 m12 l6">
        <%= render "/common/user_info", user: user %>
      </div>
    <% end %>
  </div>

</div>
