<footer class="page-footer">
  <div class="container">
    <ul class="list-inline footer-list">
      <li>
        <h5>Możesz znaleźć nas na:</h5>

        <ul class="list-inline">
          <li>
            <a class="social-media-icon icon-sm facebook" href="https://www.facebook.com/destinyinfopolska/">Facebook</a>
          </li>
          <li>
            <a class="social-media-icon icon-sm twitter" href="https://twitter.com/destinfopolska">Twitter</a>
          </li>
          <li>
            <a class="social-media-icon icon-sm youtube" href="https://www.youtube.com/channel/UCtePAeF_4XYjFYlWyJ3VotA">YouTube</a>
          </li>
          <li>
            <a class="social-media-icon icon-sm github" href="https://github.com/pasierb/destinyinfopolska">GitHub</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p>
        Copyright © <%= Time.now.year %> Destiny Info Polska
      </p>
    </div>
  </div>
</footer>
