<div class="inner">
  <ul class="list-inline footer-list">
    <li>
      <h4>Możesz znaleźć nas na:</h4>

      <ul class="list-inline">
        <li>
          <a class="social-media-icon icon-sm facebook" href="https://www.facebook.com/destinyinfopolska/">Facebook</a>
        </li>
        <li>
          <a class="social-media-icon icon-sm twitter" href="https://twitter.com/destinfopolska">Twitter</a>
        </li>
        <li>
          <a class="social-media-icon icon-sm youtube" href="https://www.youtube.com/channel/UCtePAeF_4XYjFYlWyJ3VotA">YouTube</a>
        </li>
        <li>
          <a class="social-media-icon icon-sm github" href="https://github.com/pasierb/destinyinfopolska">GitHub</a>
        </li>
      </ul>
    </li>
  </ul>

  <p>
    Copyright © <%= Time.now.year %> Destiny Info Polska
  </p>
</div>
