<%= link_to refinery.root_path, class: "logo logo-60" do %>
  <span class="hidden-sm hidden-xs"><%= Refinery::Core.site_name %></span>
<% end %>
<%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
