@import '_colors';

body {
  background-color: #f5f5f5;

  #sidenav-overlay {
    z-index: 900;
  }

  .card {
    .card-image {
      .card-title {
        background: rgba(0, 0, 0, 0.5);

        &:hover {
          background: rgba(0, 0, 0, 0.7);
        }

        a {
          color: color("amber", "lighten-2");

          &:hover {
            color: color("orange", "base");
          }
        }
      }
    }
  }

  nav {
    background-color: #fff;

    .button-collapse {
      color: #555;
    }

    .brand-logo {
      display: inline-block;
      margin: 0;
      padding: 12px 0 0 59px;
      font-size: 25px;
      height: 52px;
      overflow: hidden;
      background-repeat: no-repeat;
      text-decoration: none;
      background-image: image_url('logo_56x60');
      height: 60px;
      padding-left: 65px;
    }

    ul {
      li {
        a {
          color: #333;
        }
      }
    }
  }

  img {
    max-width: 100%;
    height: auto !important;
  }

  .image-zoom {
    img {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }

  .social-media-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-indent: -2000em;
    overflow: hidden;

    &.icon-sm {
      width: 32px;
      height: 32px;

      &.youtube {
        background-image: image_url("004-youtube_32");
      }

      &.facebook {
        background-image: image_url("facebook_32");
      }

      &.twitter {
        background-image: image_url("003-twitter_32");
      }

      &.twitch {
        background-image: image_url("005-twitch_32")
      }

      &.news {
        background-image: image_url("text-lines_32")
      }

      &.github {
        background-image: image_url("GitHub-Mark-Light-32px")
      }
    }

    &.twitch {
      background-image: image_url("005-twitch_64")
    }

    &.youtube {
      background-image: image_url("004-youtube_64");
    }

    &.twitter {
      background-image: image_url("003-twitter_64");
    }

    &.psn {
      background-image: image_url("002-playstation-logotype_64");
    }

    &.news {
      background-image: image_url("text-lines_64")
    }
  }

  .tag-cloud {
    a.tag1 { font-size: 0.7em; font-weight: 100; }
    a.tag2 { font-size: 0.8em; font-weight: 200; }
    a.tag3 { font-size: 0.9em; font-weight: 300; }
    a.tag4 { font-size: 1.0em; font-weight: 400; }
  }
}

