$layer_1_background: transparent;
$content_background: rgba(10, 10, 10, 0.9);

body {
  padding-top: 70px;
  margin: 0;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  background-color: #222;
  background-image: image_url("bg_planet");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ddd;

  .navbar-header {
    padding-right: 10px;

    .navbar-brand {
      padding-top: 20px;
    }
  }

  .social-media-icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-indent: -2000em;
    overflow: hidden;

    &.icon-sm {
      width: 32px;
      height: 32px;

      &.youtube {
        background-image: image_url("004-youtube_32");
      }

      &.facebook {
        background-image: image_url("facebook_32");
      }

      &.twitter {
        background-image: image_url("003-twitter_32");
      }

      &.twitch {
        background-image: image_url("005-twitch_32")
      }

      &.news {
        background-image: image_url("text-lines_32")
      }
    }

    &.twitch {
      background-image: image_url("005-twitch_64")
    }

    &.youtube {
      background-image: image_url("004-youtube_64");
    }

    &.twitter {
      background-image: image_url("003-twitter_64");
    }

    &.psn {
      background-image: image_url("002-playstation-logotype_64");
    }

    &.news {
      background-image: image_url("text-lines_64")
    }
  }

  img {
    max-width: 100%;
  }

  #site_bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
  }

  .content {
    background: $content_background;
    overflow: hidden;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
  }

  .comments {
    background: rgba(255, 255, 255, 1);
    padding: 15px;
  }

  h1, h2 {
    color: #ffce1f;
    margin: 0;
    padding: 15px 0 15px 15px;

    a {
      color: #ffce1f;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }

  h3 {
    a {
      color: #ffce1f;
      padding: 15px 0 15px 15px;
    }
  }

  a {
    color: #cc51b1;
    text-decoration: none;

    &:hover {
      color: #d18614;
    }
  }

  .banner {
    width: 100%;
    height: 300px;
    background: #222 image_url('page_background') no-repeat fixed center center;
  }

  .logo {
    display: inline-block;
    margin: 0;
    padding: 12px 0 0 59px;
    font-size: 25px;
    height: 52px;
    overflow: hidden;
    background-repeat: no-repeat;
    text-decoration: none;

    &.logo-90 {
      background-image: image_url('logo_84x90');
      height: 90px;
      padding-left: 95px;
    }

    &.logo-60 {
      background-image: image_url('logo_56x60');
      height: 60px;
      padding-left: 65px;
    }

    :hover {
      color: #520088 !important;
    }
  }


  nav#menu {
    display: inline-block;

    &:after {
     content: "";
    }

    ul.nav {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0;
        padding: 0;

        &.selected {
          background-color: rgba(0, 0, 0, 0.3);
        }

        a {
          display: inline-block;
          padding: 20px 20px;
          text-decoration: none;
          cursor: pointer;
          color: #ddd;

          &:hover {
            // background-color: rgba(0, 0, 0, 0.2);
            color: #b868cc;
            background-color: transparent;
          }
        }
      }
    }
  }

  > .navbar {
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
  }

  article.blog_post, article#blog_post {
    margin-bottom: 20px;
    background: $content_background;
    -webkit-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.5);

    header {
      padding: 5px 10px;

      h1 {

        a {
          text-decoration: none;
          color: #ffce1f;
        }
      }

      .details {
        letter-spacing: 1px;
        border-bottom: 1px solid #222;
      }
    }

    section {
      padding: 15px;
    }

    footer {
      padding: 15px;

      span {
        border-right: 1px solid #444;
        padding-left: 10px;
        padding-right: 10px;

        &:last-child {
          border-right: 0;
        }
      }
    }
  }

  > footer {
    margin-top: 50px;
    background: #111;
    padding: 20px 20px 50px 20px;;
    color: #eee;
  }

  .image-zoom {
    overflow: hidden;
    display: block;

    img {
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      &:hover {
        -moz-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }

  .pagination {
    > * {
      display: inline-block;
      padding: 5px 10px;
    }

    a {
      background-color: #eee;
      color: #111;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      &:hover {
        background-color: #ddd;
      }
    }
  }

  .navbar-default {
    background: #fff;
  }
}
