<h3>
  <span class="social-media-icon icon-sm twitch"></span>
  Twitch
</h3>

<%= content_tag 'dip-twitch-status' , "", ":logins" => Refinery::Authentication::Devise::User.where(%Q(twitch_username IS NOT NULL)).pluck(:twitch_username).to_json, "class" => "content" %>
